[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
pylint = "*"
autopep8 = "*"
py2neo = "*"
jieba = "*"
flask-mail = "*"
flask-wtf = "*"
flask-login = "*"
flask-scss = "*"

[requires]
python_version = "3.7"
