* {
  margin: 0;
  padding: 0; }

  button {
    cursor: pointer; }
    button:hover {
      outline: none; }

a {
  color: black; }
  a:hover {
    text-decoration: none; }

#brand {
  margin-right: 40px;
  margin-left: 10px; }
  #brand > img {
    height: 40px;
    margin-right: 5px; }

#go-to-top {
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  left: 10%;
  bottom: 70px;
  transform: rotate(180deg);
  transition: transform 0.5s;
  z-index: 10;
  cursor: pointer; }
  #go-to-top:hover {
    transform: rotate(0deg); }
    #go-to-top > img {
      width: 60px;
      height: 60px; }
      @media screen and (max-width: 993px) {
        #go-to-top > img {
          width: inherit;
          height: inherit;   }
}
  @media screen and (max-width: 993px) {
    #go-to-top {
      width: 50px;
      height: 50px;
      left: auto;
      right: 15%;
      bottom: 10%;
      transform: rotate(0deg);   }
}

.no-transition {
  -webkit-transition: height 0.01s;
  -moz-transition: height 0.01s;
  -ms-transition: height 0.01s;
  -o-transition: height 0.01s;
  transition: height 0.01s; }

  @media screen and (max-width: 993px) {
    #navbar {
      z-index: 1;   }
      #navbar #navbarSupportedContent div {
        padding: 15px 0 10px 30px;   }
}

.pager li, .event-name {
  cursor: pointer; }

  #loading-events-card {
    position: absolute;
    right: 50%;
    top: 50%;
    bottom: 50%; }
    @media screen and (max-width: 993px) {
      #loading-events-card {
        right: 40%;   }
}

#loading-event-details {
  text-align: center; }

  #loading-events-card > span, #loading-event-details > span {
    position: relative;
    bottom: 7px;
    left: 10px; }

    .aside-panel {
      background-color: #f7f9fc;
      min-height: 100%;
      width: 25%;
      position: fixed;
      margin-top: 66px; }
      .aside-panel > div {
        padding: 70px 40px 30px 40px; }
        .aside-panel > div .dropdown .selectpicker {
          border: 1px #ced4da solid !important; }
          .aside-panel > div .dropdown .selectpicker > button {
            background-color: white !important; }
        .aside-panel > div .dropdown .dropdown-toggle {
          margin-top: 5px; }
        .aside-panel > div #aside-search-button {
          margin-top: 30px;
          border-color: #007bff; }
          .aside-panel > div #aside-search-button:hover {
            box-shadow: 0 0 0 3px #b9d9fd; }
            @media screen and (max-width: 993px) {
              .aside-panel > div #aside-search-button {
                color: white;
                border-color: white;   }
}
      @media screen and (max-width: 993px) {
        .aside-panel {
          background-color: #343a40;
          width: 100vw;
          min-height: 0;
          display: none;
          margin-top: 170px;
          z-index: 1;   }
          .aside-panel > div {
            padding: 20px 40px;   }
}

#event-details .modal-title {
  text-align: center;
  width: 100%;
  margin: 10px 0; }
  #event-details .modal-body {
    margin: 20px 40px; }
    #event-details .modal-body #eventDetailsTable th {
      width: 30%; }

.event-card-container {
  width: 75%;
  position: absolute;
  right: 0;
  min-height: 100%; }
  .event-card-container .event-card {
    margin-top: 66px;
    padding: 70px 70px 30px 70px; }
    .event-card-container .event-card .card-body .row > div:nth-child(odd) {
      text-align: right;
      font-weight: bold; }
      .event-card-container .event-card .card-body .row > div:nth-child(even) {
        text-align: left; }
    .event-card-container .event-card .card-button {
      padding-top: 20px; }
  @media screen and (max-width: 993px) {
    .event-card-container {
      width: 100%;   }
      .event-card-container > div {
        padding: 40px 50px;   }
}

.left {
  width: 49%;
  height: 100vh;
  float: left;
  background: url("../images/bkg-image.svg");
  background-size: cover; }
  .left .carousel-item {
    height: 100vh;
    color: white;
    padding: 150px 100px; }
    .left .carousel-item p {
      font-size: 1.7em;
      margin-top: 80px;
      margin-bottom: 50px; }
      .left .carousel-item a {
        color: white;
        border: 2px solid white;
        font-size: 1.2em;
        padding: 10px 20px;
        transition: all 0.5s; }
        .left .carousel-item a:hover {
          background: white;
          color: black; }

.right {
  width: 51%;
  height: 100vh;
  float: right; }
  .right .wrapper {
    text-align: center;
    margin: auto 50px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%); }
    .right .wrapper > h1 {
      font-weight: bold;
      margin-bottom: 50px; }
      .right .wrapper .functions {
        list-style: none; }
        .right .wrapper .functions > li {
          display: inline-block;
          width: 120px;
          margin: 20px 40px; }
          .right .wrapper .functions > li div {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            border: 2px solid #3ca5f6;
            overflow: hidden;
            transition: all 0.3s; }
            .right .wrapper .functions > li div img {
              width: 70px;
              height: 70px;
              margin-top: 20px;
              position: relative;
              top: 0;
              transition: all 0.3s; }
              .right .wrapper .functions > li div img:last-child {
                margin-top: 30px; }
          .right .wrapper .functions > li h5 {
            margin-top: 10px;
            text-align: center;
            font-size: 1.1em; }
            .right .wrapper .functions > li:hover {
              cursor: pointer; }
              .right .wrapper .functions > li:hover div {
                background-color: #3ca5f6; }
                .right .wrapper .functions > li:hover div img {
                  top: -100px; }
              .right .wrapper .functions > li:hover h5 {
                color: #3ca5f6; }
          .right .wrapper .functions > li .smaller-img img {
            width: 60px;
            height: 60px;
            margin-top: 30px; }
            .right .wrapper .functions > li .smaller-img img:last-child {
              margin-top: 40px; }
