@import "variables";

#event-details {
	.modal-title {
		text-align: center;
		width: 100%;
		margin: 10px 0;
	}

	.modal-body {
		margin: 20px 40px;

		#eventDetailsTable th {
			width: 30%;
		}
	}
}

aside {
	background-color: #f7f9fc;
	min-height: 100%;
	width: 25%;
	position: fixed;
	margin-top: 66px;

	> div {
		padding: 70px 40px 30px 40px;

		> div {
			&:nth-child(1) {
				border: 1px #ced4da solid !important;

				> button {
					background-color: white !important;
				}
			}

			&:nth-child(2) {
				margin-top: 5px;
			}
		}

		#search-button {
			margin-top: 30px;
			border-color: #007bff;

			&:hover {
				box-shadow: 0 0 0 3px #b9d9fd;
			}

			@include mobile {
				color: white;
				border-color: white;
			}
		}
	}

	@include mobile {
		background-color: #343a40;
		width: 100vw;
		min-height: 0;
		display: none;
		margin-top: 170px;
		z-index: 1;

		> div {
			padding: 20px 40px;
		}
	}
}

main {
	width: 75%;
	position: absolute;
	right: 0;
	min-height: 100%;

	.event-card {
		margin-top: 66px;
		padding: 50px 70px 30px 70px;

		.card-body .row > div {
			&:nth-child(odd) {
				text-align: right;
				font-weight: bold;
			}

			&:nth-child(even) {
				text-align: left;
			}
		}
	}

	@include mobile {
		width: 100%;

		> div {
			padding: 40px 50px;
		}
	}
}

#pager li,
a.event-name {
	cursor: pointer;
}

#loading-events-card {
	position: absolute;
	right: 50%;
	top: 50%;
	bottom: 50%;

	@include mobile {
		right: 40%;
	}
}

#loading-event-details {
	text-align: center;
}

#loading-events-card > span,
#loading-event-details > span {
	position: relative;
	bottom: 7px;
	left: 10px;
}
