@import "variables";

/* left */
.left {
	width: 49%;
	height: 100vh;
	float: left;
	background: url("../images/bkg-image.svg");
	background-size: cover;

	.carousel-item {
		height: 100vh;
		color: white;
		padding: 150px 100px;

		p {
			font-size: 1.7em;
			margin-top: 80px;
			margin-bottom: 50px;
		}

		a {
			color: white;
			border: 2px solid white;
			font-size: 1.2em;
			padding: 10px 20px;
			transition: all 0.5s;

			&:hover {
				background: white;
				color: black;
			}
		}
	}
}
/* left */

/* right */
.right {
	width: 51%;
	height: 100vh;
	float: right;

	.wrapper {
		text-align: center;
		margin: auto 50px;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);

		> h1 {
			font-weight: bold;
			margin-bottom: 50px;
		}

		.functions {
			list-style: none;

			> li {
				display: inline-block;
				width: 120px;
				margin: 20px 40px;

				div {
					width: 120px;
					height: 120px;
					border-radius: 50%;
					border: 2px solid #3ca5f6;
					overflow: hidden;
					transition: all 0.3s;

					img {
						width: 70px;
						height: 70px;
						margin-top: 20px;
						position: relative;
						top: 0;
						transition: all 0.3s;

						&:last-child {
							margin-top: 30px;
						}
					}
				}

				h5 {
					margin-top: 10px;
					text-align: center;
					font-size: 1.1em;
				}

				&:hover {
					cursor: pointer;

					div {
						background-color: #3ca5f6;

						img {
							top: -100px;
						}
					}

					h5 {
						color: #3ca5f6;
					}
				}

				.smaller-img img {
					width: 60px;
					height: 60px;
					margin-top: 30px;

					&:last-child {
						margin-top: 40px;
					}
				}
			}
		}
	}
}
/* right */
