@import "variables";

/* general */
* {
	margin: 0;
	padding: 0;
}

button {
	cursor: pointer;

	&:hover {
		outline: none;
	}
}

a {
	color: black;

	&:hover {
		text-decoration: none;
	}
}

[v-cloak] {
	display: none;
}
/* general */
