@import "variables";

/* general */
* {
	margin: 0;
	padding: 0;
}

button {
	cursor: pointer;

	&:hover {
		outline: none;
	}
}

a {
	color: black;

	&:hover {
		text-decoration: none;
	}
}
/* general */

/* brand */
#brand {
	margin-right: 40px;
	margin-left: 10px;

	> img {
		height: 40px;
		margin-right: 5px;
	}
}
/* brand */

/* go-to-top */
#go-to-top {
	background-color: white;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	position: fixed;
	left: 10%;
	bottom: 70px;
	transform: rotate(180deg);
	transition: transform 0.5s;
	z-index: 10;
	cursor: pointer;

	&:hover {
		transform: rotate(0deg);
	}

	> img {
		width: 60px;
		height: 60px;

		@include mobile {
			width: inherit;
			height: inherit;
		}
	}

	@include mobile {
		width: 50px;
		height: 50px;
		left: auto;
		right: 15%;
		bottom: 10%;
		transform: rotate(0deg);
	}
}
/* go-to-top */

/* no-transition */
.no-transition {
	-webkit-transition: height 0.01s;
	-moz-transition: height 0.01s;
	-ms-transition: height 0.01s;
	-o-transition: height 0.01s;
	transition: height 0.01s;
}
/* no-transition */

@include mobile {
	#navbar {
		z-index: 1;

		#navbarSupportedContent div {
			padding: 15px 0 10px 30px;
		}
	}
}

.pager li,
.event-name {
	cursor: pointer;
}

/* loading */
#loading-events-card {
	position: absolute;
	right: 50%;
	top: 50%;
	bottom: 50%;

	@include mobile {
		right: 40%;
	}
}

#loading-event-details {
	text-align: center;
}

#loading-events-card > span,
#loading-event-details > span {
	position: relative;
	bottom: 7px;
	left: 10px;
}
/* loading */

/* 侧边栏 */
.aside-panel {
	background-color: #f7f9fc;
	min-height: 100%;
	width: 25%;
	position: fixed;
	margin-top: 66px;

	> div {
		padding: 70px 40px 30px 40px;

		.dropdown {
			.selectpicker {
				border: 1px #ced4da solid !important;

				> button {
					background-color: white !important;
				}
			}

			.dropdown-toggle {
				margin-top: 5px;
			}
		}

		#aside-search-button {
			margin-top: 30px;
			border-color: #007bff;

			&:hover {
				box-shadow: 0 0 0 3px #b9d9fd;
			}

			@include mobile {
				color: white;
				border-color: white;
			}
		}
	}

	@include mobile {
		background-color: #343a40;
		width: 100vw;
		min-height: 0;
		display: none;
		margin-top: 170px;
		z-index: 1;

		> div {
			padding: 20px 40px;
		}
	}
}
/* 侧边栏 */

/* 事件详细信息 */
#event-details {
	.modal-title {
		text-align: center;
		width: 100%;
		margin: 10px 0;
	}

	.modal-body {
		margin: 20px 40px;

		#eventDetailsTable th {
			width: 30%;
		}
	}
}
/* 事件详细信息 */

/* 事件卡片 */
.event-card-container {
	width: 75%;
	position: absolute;
	right: 0;
	min-height: 100%;

	.event-card {
		margin-top: 66px;
		padding: 70px 70px 30px 70px;

		.card-body .row > div {
			&:nth-child(odd) {
				text-align: right;
				font-weight: bold;
			}

			&:nth-child(even) {
				text-align: left;
			}
		}

		.card-button {
			padding-top: 20px;
		}
	}

	@include mobile {
		width: 100%;

		> div {
			padding: 40px 50px;
		}
	}
}
/* 事件卡片 */

/* 首页 left */
.left {
	width: 49%;
	height: 100vh;
	float: left;
	background: url("../images/bkg-image.svg");
	background-size: cover;

	.carousel-item {
		height: 100vh;
		color: white;
		padding: 150px 100px;

		p {
			font-size: 1.7em;
			margin-top: 80px;
			margin-bottom: 50px;
		}

		a {
			color: white;
			border: 2px solid white;
			font-size: 1.2em;
			padding: 10px 20px;
			transition: all 0.5s;

			&:hover {
				background: white;
				color: black;
			}
		}
	}
}
/* 首页 left */

/* 首页 right */
.right {
	width: 51%;
	height: 100vh;
	float: right;

	.wrapper {
		text-align: center;
		margin: auto 50px;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);

		> h1 {
			font-weight: bold;
			margin-bottom: 50px;
		}

		.functions {
			list-style: none;

			> li {
				display: inline-block;
				width: 120px;
				margin: 20px 40px;

				div {
					width: 120px;
					height: 120px;
					border-radius: 50%;
					border: 2px solid #3ca5f6;
					overflow: hidden;
					transition: all 0.3s;

					img {
						width: 70px;
						height: 70px;
						margin-top: 20px;
						position: relative;
						top: 0;
						transition: all 0.3s;

						&:last-child {
							margin-top: 30px;
						}
					}
				}

				h5 {
					margin-top: 10px;
					text-align: center;
					font-size: 1.1em;
				}

				&:hover {
					cursor: pointer;

					div {
						background-color: #3ca5f6;

						img {
							top: -100px;
						}
					}

					h5 {
						color: #3ca5f6;
					}
				}

				.smaller-img img {
					width: 60px;
					height: 60px;
					margin-top: 30px;

					&:last-child {
						margin-top: 40px;
					}
				}
			}
		}
	}
}
/* 首页 right */
