<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<title>{% block title %}{% endblock %}</title>

		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>

		<!-- Icon -->
		<link
			rel="shortcut icon"
			href="{{ url_for('static', filename='images/favicon.png') }}"
		/>
		<link
			rel="icon"
			href="{{ url_for('static', filename='images/favicon.png') }}"
		/>

		<!-- Outer CSS -->
		{% block outer_css %}{% endblock %}

		<!-- Outer script in head -->
		{% block outer_script_in_head %}{% endblock %}

		<!-- Inner CSS -->
		{% block inner_css %}{% endblock %}

		<!-- Inner script in head -->
		{% block inner_script_in_head %}{% endblock %}
	</head>
	<body>
		{% block main_content %}{% endblock %}

		<!-- outer_script_in_body -->
		{% block outer_script_in_body %}{% endblock %}

		<!-- inner_script_in_body -->
		{% block inner_script_in_body %}{% endblock %}
	</body>
</html>
