{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block outer_css %}
<link
	href="https://cdn.bootcss.com/bootstrap-select/1.13.10/css/bootstrap-select.min.css"
	rel="stylesheet"
/>
{% endblock %}

{% block outer_script %}
<script src="https://cdn.bootcss.com/bootstrap-select/1.13.10/js/bootstrap-select.min.js"></script>
{% endblock %}

{% block inner_script %}
<script>
	window.onload = () => {
		$('#go-to-top').on('click', goToTop);	// 回到顶部

		/* 下拉框绑定单击事件 */
		let oSelect = $("#select-query-basis");
		oSelect.flag = false;
		oSelect.on("shown.bs.select", () => {
			if (!oSelect.flag) {
				$("#bs-select-1 li").on("click", modifySearchInputElement);
				oSelect.flag = true;
			}
		})
		/* 下拉框绑定单击事件 */

		/* 加载事件卡片 */
		$('.pager>ul').html('')
		$('main>div').html(getLoadingHTML('loading-events-card'));
		$.get("/all_events_intro?page=1", data => { showAllEventCards(1, data) })
		/* 加载事件卡片 */

		$('#aside-search-button').on('click', search);	// 搜索按钮绑定单击事件
	}
</script>
{% endblock %}

{% block main_content %}
	{% include "include/navbar.html" %}
	<div class="modal fade" id="event-details" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title text-primary"></h1>
					<button
						type="button"
						class="close"
						data-dismiss="modal"
					>
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">
						关闭
					</button>
					<button type="button" class="btn btn-primary">查看源文档</button>
				</div>
			</div>
		</div>
	</div>
	{% include "include/aside.html" %}
	<div id="go-to-top" class="shadow"><img src="{{ url_for('static', filename='images/go-to-top.svg') }}" alt="go-to-top"></div>
	<main class="event-card-container">
		<div class="event-card"></div>
		<nav class="pager">
			<ul class="pagination justify-content-center"></ul>
		</nav>
	</main>
{% endblock %}
