{% extends "base.html" %}

{% block title %}管理员登录{% endblock %}

{% block outer_css %}
<link
	rel="stylesheet"
	href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
/>
<link
	href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet"
/>
<link
	rel="stylesheet"
	href="{{ url_for('static', filename='css/style.css') }}"
/>
<link
	rel="stylesheet"
	href="{{ url_for('static', filename='css/index.css') }}"
/>
{% endblock %}

{% block inner_css %}
<style>
	/* general */
	* {
		margin: 0;
		padding: 0;
	}

	a {
		color: black;
		text-decoration: none;
	}

	a:hover {
		text-decoration: none;
	}

	button {
		cursor: pointer;
	}

	button:hover {
		outline: none;
	}

	[v-cloak] {
		display: none;
	}
	/* general */

	/* form */
	#app {
		width: 51%;
		height: 100vh;
		float: right;
	}

	.wrapper {
		width: 60%;
		margin: auto;
		position: relative;
		top: 20%;
	}

	.title {
		text-align: center;
		font-weight: bold;
		margin-bottom: 50px;
	}

	.login-button {
		text-align: right;
		margin-top: 40px;
	}
	/* form */
</style>
{% endblock %}

{% block outer_script_in_head %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}

{% block main_content %}
<div class="left">
	<div id="carouselText" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<h1>航空安全事件知识图谱</h1>
				<h3>Knowledge graph for aviation safety events</h3>
				<p>
					事件检索：以知识卡片的形式展示指定航空安全事件的具体信息，用户可以选择不同的查询方式。
				</p>
				<a href="/event_search">Learn more</a>
			</div>
			<div class="carousel-item">
				<h1>航空安全事件知识图谱</h1>
				<h3>Knowledge graph for aviation safety events</h3>
				<p>模式图：以力导向图的形式展示航空安全事件的模式数据。</p>
				<a href="/pattern">Learn more</a>
			</div>
			<div class="carousel-item">
				<h1>航空安全事件知识图谱</h1>
				<h3>Knowledge graph for aviation safety events</h3>
				<p>
					数据图：以力导向图的形式展示部分航空安全事件，并在前端支持可视化的增删查改。
				</p>
				<a href="/data_graph">Learn more</a>
			</div>
			<div class="carousel-item">
				<h1>航空安全事件知识图谱</h1>
				<h3>Knowledge graph for aviation safety events</h3>
				<p>
					数据统计：对事件的高频属性值进行统计分析，以图表方式展示统计结果。
				</p>
				<a href="#">Learn more</a>
			</div>
		</div>
		<a
			class="carousel-control-prev"
			href="#carouselText"
			role="button"
			data-slide="prev"
		>
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a
			class="carousel-control-next"
			href="#carouselText"
			role="button"
			data-slide="next"
		>
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>
<div id="app">
	<div class="wrapper">
		<h1 class="title">管理员登录</h1>
		<el-form :model="adminInfo">
			<el-form-item label="用户名">
				<el-input v-model="adminInfo.username"></el-input>
			</el-form-item>
			<el-form-item label="密码">
				<el-input v-model="adminInfo.password"></el-input>
			</el-form-item>
			<el-form-item class="login-button">
				<el-button type="primary" @click="submitForm()">登录</el-button>
			</el-form-item>
		</el-form>
	</div>
</div>
{% endblock %}

{% block outer_script_in_body %}
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}

{% block inner_script_in_body %}
<script>
	let vm = new Vue({
		el: "#app",
		data: {
			activeIndex: "4", // 当前活动页面（从 1 开始）
			navbarUrl: [
				"/",
				"/",
				"/event_search",
				"/pattern",
				"/data_graph",
				"/statistics",
				"#"
			],

			adminInfo: {
				username: "",
				password: ""
			}
		},

		methods: {
			/* 点击导航栏时触发 */
			handleSelect(key) {
				location.href = this.navbarUrl[Number(key) - 1];
			},

			/* 登录 */
			submitForm() {
				this.adminInfo.username = this.adminInfo.username.trim();
				this.adminInfo.password = this.adminInfo.password.trim();
				if (this.adminInfo.username != "" && this.adminInfo.password != "") {
					axios
						.post("/verifyAdmin", this.adminInfo)
						.then(rsp => {
							if (rsp.data["success"] == true) {
								location.href = this.navbarUrl[2];
							} else {
								this.$message.error("用户名或密码错误！");
							}
						})
						.catch(error => {
							this.$message.error("error! 请检查网络连接");
						});
				} else {
					this.$message.error("用户名和密码不能为空！");
				}
			}
		}
	});
</script>
{% endblock %}
