<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a href="/" class="navbar-brand">
		<img src="{{ url_for('static', filename='images/logo.svg') }}"
	alt="Logo" id="logo"/>
		ASE Knowledge Graph
	</a>
	<button
		class="navbar-toggler"
		type="button"
		data-toggle="collapse"
		data-target="#navbarSupportedContent"
	>
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<div class="navbar-nav mr-auto">
			<a class="nav-item nav-link" href="#">事件卡片</a>
			<a class="nav-item nav-link" href="#">模式图</a>
		</div>
		<div class="form-inline">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" />
			<button class="btn btn-success my-2 my-sm-0" type="button">
				Search
			</button>
		</div>
	</div>
</nav>
