{% extends "base.html" %}

{% block title %}数据统计{% endblock %}

{% block outer_css %}
<link
	rel="stylesheet"
	href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
/>
{% endblock %}

{% block outer_script_in_head %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}

{% block inner_css %}
<style>
	/* general */
	* {
		margin: 0;
		padding: 0;
	}

	a {
		color: black;
		text-decoration: none;
	}

	a:hover {
		text-decoration: none;
	}

	button {
		cursor: pointer;
	}

	button:hover {
		outline: none;
	}

	[v-cloak] {
		display: none;
	}
	/* general */

	/* header */
	.el-header {
		padding: 0;
		height: 66px !important;
		position: fixed;
		z-index: 10;
		width: 100%;
	}

	.el-header li {
		height: 63px !important;
	}

	.brand {
		margin-right: 40px !important;
		margin-left: 10px !important;
		color: #fff !important;
		font-size: 1.25rem;
	}

	.brand > img {
		height: 40px;
		margin-right: 5px;
	}
	/* header */

	.chart-container {
		margin-top: 63px;
		padding: 40px;
	}
</style>
{% endblock %}

{% block main_content %}
<div id="app" v-cloak>
	<el-container>
		<el-header class="navbar">
			<el-menu
				:default-active="activeIndex"
				class="el-menu"
				mode="horizontal"
				@select="handleSelect"
				background-color="#343A40"
				text-color="#999C9F"
				active-text-color="#fff"
			>
				<el-menu-item index="1" class="brand">
					<img
						src="{{ url_for('static', filename='images/logo.svg') }}"
						alt="Logo"
					/>
					ASE Knowledge Graph
				</el-menu-item>
				<el-menu-item index="2">首页</el-menu-item>
				<el-menu-item index="3">事件检索</el-menu-item>
				<el-menu-item index="4">模式图</el-menu-item>
				<el-menu-item index="5">数据图</el-menu-item>
				<el-menu-item index="6">数据统计</el-menu-item>
				<el-menu-item index="7">帮助</el-menu-item>
			</el-menu></el-header
		>
		<el-main class="chart-container">
			<div style="text-align: center;">
				<el-date-picker
					v-model="startYear"
					type="year"
					placeholder="开始年份"
					size="small"
					value-format="yyyy"
				>
				</el-date-picker>
				<span>&nbsp; 至 &nbsp;</span>
				<el-date-picker
					v-model="endYear"
					type="year"
					placeholder="结束年份"
					size="small"
					value-format="yyyy"
				>
				</el-date-picker>
				<el-button
					type="primary"
					size="small"
					plain
					style="margin-left: 20px;"
					@click="repaint()"
					>重绘</el-button
				>
			</div>

			<div id="container"></div>
			<!-- 图表容器 -->
		</el-main>
	</el-container>
</div>
{% endblock %}

{% block outer_script_in_body %}
<script src="https://gw.alipayobjects.com/os/lib/antv/g2/3.4.10/dist/g2.min.js"></script>
<script src="https://unpkg.com/@antv/data-set"></script>
{% endblock %}

{% block inner_script_in_body %}
<script>
	let vm = new Vue({
		el: "#app",
		data: {
			activeIndex: "6", // 当前活动页面（从 1 开始）
			navbarUrl: [
				"/",
				"/",
				"/event_search",
				"/pattern",
				"/data_graph",
				"/statistics",
				"/help"
			],

			startYear: "2012",
			endYear: "2016",

			chart: null
		},

		methods: {
			/* 点击导航栏时触发 */
			handleSelect(key) {
				location.href = this.navbarUrl[Number(key) - 1];
			},

			/* 重绘图表 */
			repaint() {
				axios
					.get(`/time_data?from_time=${this.startYear}&to_time=${this.endYear}`)
					.then(function(rsp) {
						chart.changeData(rsp.data);
					});
			}
		},

		mounted() {
			axios
				.get(`/time_data?from_time=${this.startYear}&to_time=${this.endYear}`)
				.then(function(rsp) {
					let data = rsp.data;

					chart = new G2.Chart({
						container: "container",
						forceFit: true,
						height: 800,
						padding: [100, 100, 100, 50]
					});
					chart.source(data);
					chart.scale("cnt", {
						alias: "金额(元)"
					});
					chart.axis("time", {
						label: {
							textStyle: {
								fill: "#aaaaaa"
							}
						},
						tickLine: {
							alignWithLabel: false,
							length: 0
						}
					});
					chart.axis("cnt", {
						label: {
							textStyle: {
								fill: "#aaaaaa"
							},
							formatter: text => {
								return text.replace(/(\d)(?=(?:\d{3})+$)/g, "$1,");
							}
						},
						title: {
							offset: 80
						}
					});
					chart.legend({
						position: "bottom"
					});
					chart
						.interval()
						.position("time*cnt")
						.color("grade", [
							"#FFFF00",
							"#FFCC00",
							"#FF9900",
							"#FF6600",
							"#FF3300",
							"#FF0000"
						])
						.opacity(1);

					chart.render();
				});
		}
	});
</script>
{% endblock %}
