{% extends "base.html" %} {% block title %}{{ title }}{% endblock %}
{% block inner_script %}
    <script src="https://gw.alipayobjects.com/os/lib/antv/g2/3.4.10/dist/g2.min.js"></script>
    <script src="https://unpkg.com/@antv/data-set"></script>
{% endblock %}
{% block outer_script %}
    <script>
        var jdata = []
        $("button").click(function(){
            $.get("/time_data", {from_time:2013, to_time:2016}, function(res){
                chart.changeData(res);
            })
        });
        const data = [
        { time: '2013', grade: '一般', cnt: 32000 },
        { time: '2013', grade: '重大', cnt: 30000 },
        { time: '2013', grade: '严重', cnt: 27000 },
        { time: '2013', grade: '特大', cnt: 24000 },
        { time: '2013', grade: '事件', cnt: 24000 },
        { time: '2013', grade: '事故', cnt: 24000 },

        { time: '2014', grade: '一般', cnt: 35000 },
        { time: '2014', grade: '重大', cnt: 32000 },
        { time: '2014', grade: '严重', cnt: 30000 },
        { time: '2014', grade: '特大', cnt: 27000 },
        { time: '2014', grade: '事件', cnt: 24000 },
        { time: '2014', grade: '事故', cnt: 24000 },

        { time: '2015', grade: '一般', cnt: 39000 },
        { time: '2015', grade: '重大', cnt: 37000 },
        { time: '2015', grade: '严重', cnt: 34000 },
        { time: '2015', grade: '特大', cnt: 30000 },
        { time: '2015', grade: '事件', cnt: 24000 },
        { time: '2015', grade: '事故', cnt: 24000 },

        { time: '2016', grade: '一般', cnt: 44000 },
        { time: '2016', grade: '重大', cnt: 42000 },
        { time: '2016', grade: '严重', cnt: 38000 },
        { time: '2016', grade: '特大', cnt: 34000 },
        { time: '2016', grade: '事件', cnt: 24000 },
        { time: '2016', grade: '事故', cnt: 24000 },

        { time: '2017', grade: '一般', cnt: 47000 },
        { time: '2017', grade: '重大', cnt: 44000 },
        { time: '2017', grade: '严重', cnt: 40000 },
        { time: '2017', grade: '特大', cnt: 36000 },
        { time: '2017', grade: '事件', cnt: 24000 },
        { time: '2017', grade: '事故', cnt: 24000 }
        ];

        const chart = new G2.Chart({
        container: 'container',
        forceFit: true,
        height: 800,
        padding: [ 100, 100, 100, 50 ]
        });
        chart.source(data);
        chart.scale('cnt', {
        alias: '金额(元)'
        });
        chart.axis('time', {
        label: {
            textStyle: {
            fill: '#aaaaaa'
            }
        },
        tickLine: {
            alignWithLabel: false,
            length: 0
        }
        });

        chart.axis('cnt', {
        label: {
            textStyle: {
            fill: '#aaaaaa'
            },
            formatter: text => {
            return text.replace(/(\d)(?=(?:\d{3})+$)/g, '$1,');
            }
        },
        title: {
            offset: 80
        }
        });
        chart.legend({
        position: 'bottom'
        });
        chart.interval()
        .position('time*cnt')
        .color('grade', ['#FFFF00', '#FFCC00', '#FF9900', '#FF6600', '#FF3300', '#FF0000'])
        .opacity(1);
        chart.render();
    </script>
{% endblock %}

{% block main_content %}
{% include "include/navbar.html" %}
<div>
    <button id="button">重绘</button>
    <!-- 创建图表容器 -->
    <div id="container"></div>
</div>
{% endblock %}

{% block inner_script_in_body %}
<script>
	const data = [
		{ time: "03-19", type: "101-1000", value: 32000 },
		{ time: "03-19", type: "31-100", value: 30000 },
		{ time: "03-19", type: "11-30", value: 27000 },
		{ time: "03-19", type: "1-10", value: 24000 },

		{ time: "03-20", type: "101-1000", value: 35000 },
		{ time: "03-20", type: "31-100", value: 32000 },
		{ time: "03-20", type: "11-30", value: 30000 },
		{ time: "03-20", type: "1-10", value: 27000 },

		{ time: "03-21", type: "101-1000", value: 39000 },
		{ time: "03-21", type: "31-100", value: 37000 },
		{ time: "03-21", type: "11-30", value: 34000 },
		{ time: "03-21", type: "1-10", value: 30000 },

		{ time: "03-22", type: "101-1000", value: 44000 },
		{ time: "03-22", type: "31-100", value: 42000 },
		{ time: "03-22", type: "11-30", value: 38000 },
		{ time: "03-22", type: "1-10", value: 34000 },

		{ time: "03-23", type: "101-1000", value: 47000 },
		{ time: "03-23", type: "31-100", value: 44000 },
		{ time: "03-23", type: "11-30", value: 40000 },
		{ time: "03-23", type: "1-10", value: 36000 },

		{ time: "03-24", type: "101-1000", value: 48000 },
		{ time: "03-24", type: "31-100", value: 46000 },
		{ time: "03-24", type: "11-30", value: 42000 },
		{ time: "03-24", type: "1-10", value: 38000 },

		{ time: "03-25", type: "101-1000", value: 50000 },
		{ time: "03-25", type: "31-100", value: 48000 },
		{ time: "03-25", type: "11-30", value: 44000 },
		{ time: "03-25", type: "1-10", value: 38000 }
	];

	const chart = new G2.Chart({
		container: "container",
		forceFit: true,
		height: 800,
		padding: [20, 70, 50, 50]
	});
	chart.source(data);
	chart.scale("value", {
		alias: "金额(元)"
	});
	chart.axis("time", {
		label: {
			textStyle: {
				fill: "#aaaaaa"
			}
		},
		tickLine: {
			alignWithLabel: false,
			length: 0
		}
	});

	chart.axis("value", {
		label: {
			textStyle: {
				fill: "#aaaaaa"
			},
			formatter: text => {
				return text.replace(/(\d)(?=(?:\d{3})+$)/g, "$1,");
			}
		},
		title: {
			offset: 80
		}
	});
	chart.legend({
		position: "right-center"
	});
	chart
		.interval()
		.position("time*value")
		.color("type", ["#40a9ff", "#1890ff", "#096dd9", "#0050b3"])
		.opacity(1);
	chart.render();
</script>
{% endblock %}
